version: '3'

services:
  mariadb:
    image: mariadb
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      args:
        - MYSQL_DB_NAME=${MYSQL_DB_NAME}
        - MYSQL_DB_ADMIN=${MYSQL_DB_ADMIN}
        - MYSQL_DB_ADMIN_PASSWORD=${MYSQL_DB_ADMIN_PASSWORD}
        - MYSQL_DB_USER=${MYSQL_DB_USER}
        - MYSQL_DB_PASSWORD=${MYSQL_DB_PASSWORD}
      dockerfile: Dockerfile
    volumes:
      - mariadb:/var/lib/mysql
    expose:
      - "3306"
    networks:
      - inception
    restart: unless-stopped
    env_file: .env

  wordpress:
    image: wordpress
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    volumes:
      - wordpress:/var/www/html/wordpress
    expose:
      - "9000"
    networks:
      - inception
    restart: unless-stopped
    env_file: .env
    depends_on:
      - mariadb

  nginx:
    image: nginx
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile	
    volumes:
      - wordpress:/var/www/html/wordpress
    depends_on:
      - wordpress
    ports:
      - "443:443"
    networks:
      - inception
    restart: unless-stopped
    env_file: .env

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/oozsertt/data/mariadb'
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/oozsertt/data/wordpress'

networks:
  inception:
    name: inception
